<div class="mt-5">
    <h2>{{solicitacao.descricaoProduto}}</h2>
    <h4>{{solicitacao.solicitante}}</h4>
    <hr>

    <p>Valor: {{solicitacao.valorProduto | currency: 'BRL': true}}</p>
    <p>Status: 
        <span class="badge" [ngClass]="{
            'bg-success' : solicitacao.status === 'Aprovado', 
            'bg-danger' : solicitacao.status === 'Reprovado',
            'bg-warning' : solicitacao.status === 'Pendente'}">
            {{solicitacao.status}}
        </span>
    </p>
    <p *ngIf="solicitacao.status === 'Reprovado'">
        Observação: {{solicitacao.observacao}}
    </p>

    <div class="text-align-right">
        <button class="btn btn-success" [routerLink]="['/app/adm/solicitacoes']">
            Voltar
        </button>
    </div>
</div>