$green:#00C89D;
$orange: #ff8200;
$purple: #8e34ab;
$red: #d92031;
$gray-1: #323841;
$gray-2: #535962;
$gray-4: #A0ADBA;
$gray-6: #ECEDEF;
$white: white;

$font-family-default: 'Baloo 2', system-ui, -apple-system, sans-serif;